.App {
  text-align: center;
}

.background-image {
  background-image: url('../src/images/home_inventory.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  color: black;
  text-align: center;
}

.main-title {
  margin: 0;
  padding-top: 300px;
  font-size: 4em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

